{{- $email := promptStringOnce . "email" "Email address" "jessy@jessywilliams.com" -}}
{{- $name := promptStringOnce . "name" "Full name" "Jessy Williams" -}}

sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
