{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}

sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
