{{- $sshPubKey := "" -}}
{{- range list "id_ed25519.pub" "id_ecdsa.pub" "id_rsa.pub" -}}
{{-   $path := joinPath $.chezmoi.homeDir ".ssh" . -}}
{{-   if and (not $sshPubKey) (stat $path) -}}
{{-     $sshPubKey = $path -}}
{{-   end -}}
{{- end -}}

[user]
	name = {{ .name }}
	email = {{ .email }}
{{- if $sshPubKey }}
	signingkey = {{ $sshPubKey }}
{{- end }}

[color]
	ui = auto

[core]
	autocrlf = false
	eol = lf
	excludesfile = {{ joinPath .chezmoi.homeDir ".gitignore" }}

[init]
	defaultBranch = main

[push]
	default = current
{{- if $sshPubKey }}

[gpg]
	format = ssh

[commit]
	gpgsign = true

[gpg "ssh"]
	allowedSignersFile = {{ joinPath .chezmoi.homeDir ".ssh" "allowed_signers" }}
{{- end }}
