{{- define "zmxhost" -}}
Host {{ .name }}
  HostName {{ .hostname }}
  User {{ .user }}

Host = {{ .name }}[*]
    HostName {{ .hostname }}
    User {{ .user }}
    RemoteCommand zmx attach (string match -rg '\[([^]]+)\]' '%k')
    RequestTTY yes
    ControlPath ~/.ssh/cm-%r@%h:%p
    ControlMaster auto
    ControlPersist 10m
{{- end -}}
Include config.local

Host dug.lan
  HostName 10.0.0.11
  User jkwill87

Host thescore.lan
  HostName 10.0.0.133
  User jessy.williams

{{ template "zmxhost" (dict "name" "pve.lan" "hostname" "10.0.1.1" "user" "root") }}

{{ template "zmxhost" (dict "name" "node.lan" "hostname" "10.0.1.106" "user" "sysadmin") }}

{{ template "zmxhost" (dict "name" "traefik.lan" "hostname" "10.0.1.108" "user" "sysadmin") }}

Host truenas.lan
  HostName 10.0.1.100
  User jkwill87

Host teek.lan
  HostName 10.0.0.26
  User jkwill87

{{ template "zmxhost" (dict "name" "docker.lan" "hostname" "10.0.111.0" "user" "sysadmin") }}

Host homeassistant ha.lan
  HostName 10.0.1.115
  User root

